<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Slideshow
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Slideshow>
            <version>0.1.0</version>
        </Inovarti_Slideshow>
    </modules>
    <admin>
        <routers>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>Inovarti_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <odetail>
                    <file>inovarti/slideshow.xml</file>
                </odetail>
            </updates>
        </layout>
        <translate>
            <modules>
                <Inovarti_Odetail>
                    <files>
                        <default>Inovarti_Slideshow</default>
                    </files>
                </Inovarti_Odetail>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <slideshow>
                <class>Inovarti_Slideshow_Model</class>
                <resourceModel>slideshow_mysql4</resourceModel>
            </slideshow>
            <slideshow_mysql4>
                <class>Inovarti_Slideshow_Model_Mysql4</class>
                <entities>
                    <slides>
                        <table>slideshow_slides</table>
                    </slides>
                    <slides_store>
                        <table>slideshow_slides_store</table>
                    </slides_store>
                </entities>
            </slideshow_mysql4>
        </models>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Inovarti_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <blocks>
            <slideshow>
                <class>Inovarti_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Inovarti_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
    <default>
        <slideshow>
            <config>
                <enabled>1</enabled>
                <height></height>
                <animation>slide</animation>
                <slideshow>true</slideshow>
                <animation_loop>true</animation_loop>
                <mousewheel>false</mousewheel>
                <smoothheight>false</smoothheight>
                <slideshow_speed>7000</slideshow_speed>
                <animation_speed>400</animation_speed>
                <control_nav>false</control_nav>
                <direction_nav>true</direction_nav>
                <timeline>true</timeline>
            </config>
        </slideshow>
    </default>
</config>