<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Slideshow
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Slideshow>
            <version>0.1.2</version>
        </Inovarti_Slideshow>
    </modules>
    <global>
        <models>
            <slideshow>
                <class>Inovarti_Slideshow_Model</class>
                <resourceModel>slideshow_resource</resourceModel>
            </slideshow>
            
            <slideshow_resource>
                <class>Inovarti_Slideshow_Model_Resource</class>
                <entities>
                    <slideshow>
                        <table>slideshow_slideshow</table>
                    </slideshow>
                </entities>
            </slideshow_resource>
        </models>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Inovarti_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <helpers>
            <slideshow>
                <class>Inovarti_Slideshow_Helper</class>
            </slideshow>
        </helpers>
        <blocks>
            <slideshow>
                <class>Inovarti_Slideshow_Block</class>
            </slideshow>
        </blocks>
    </global>
    <frontend>
        <routers>
            <slideshow>
                <use>standard</use>
                <args>
                    <module>Inovarti_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
        <layout>
            <updates>
                <slideshow>
                    <file>inovarti/slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
        <translate>
            <modules>
                <Inovarti_Slideshow>
                    <files>
                        <default>Inovarti_Slideshow.csv</default>
                    </files>
                </Inovarti_Slideshow>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<slideshow before="Mage_Adminhtml">Inovarti_Slideshow_Adminhtml</slideshow>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <slideshow>
                    <files>
                        <default>Inovarti_Slideshow.csv</default>
                    </files>
                </slideshow>
            </modules>
        </translate>
        <layout>
            <updates>
                <slideshow>
                    <file>inovarti_slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <slideshow>
            <config>
                <enabled>1</enabled>
                <height></height>
                <wrap>true</wrap>
                <interval>7000</interval>
                <control_nav>true</control_nav>
                <direction_nav>true</direction_nav>
            </config>
        </slideshow>
    </default>
</config>