<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Slideshow
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Slideshow>
            <version>0.1.1</version>
        </Inovarti_Slideshow>
    </modules>
    <admin>
        <routers>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>Inovarti_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <slideshow>
                    <file>inovarti/slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <slideshow>
                <class>Inovarti_Slideshow_Model</class>
                <resourceModel>slideshow_mysql4</resourceModel>
            </slideshow>
            <slideshow_mysql4>
                <class>Inovarti_Slideshow_Model_Mysql4</class>
                <entities>
                    <slides>
                        <table>slideshow_slides</table>
                    </slides>
                    <slides_store>
                        <table>slideshow_slides_store</table>
                    </slides_store>
                </entities>
            </slideshow_mysql4>
        </models>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Inovarti_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <blocks>
            <slideshow>
                <class>Inovarti_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Inovarti_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
    <adminhtml>
        <menu>
            <catalog translate="title" module="catalog">
                <children>
                    <slideshow translate="title" module="slideshow">
                        <title>Slideshow</title>
                        <sort_order>50</sort_order>
                        <children>
                            <items translate="title" module="slideshow">
                                <title>Manage Slides</title>
                                <sort_order>0</sort_order>
                                <action>slideshow/adminhtml_slideshow</action>
                            </items>
                            <configuration translate="title">
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/slideshow</action>
                            </configuration>
                        </children>
                    </slideshow>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <slideshow translate="title" module="slideshow">
                                            <title>Slideshow</title>
                                            <sort_order>300</sort_order>
                                        </slideshow>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Inovarti_Slideshow>
                    <files>
                        <default>Inovarti_Slideshow.csv</default>
                    </files>
                </Inovarti_Slideshow>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <slideshow>
            <config>
                <enabled>1</enabled>
                <height></height>
                <wrap>true</wrap>
                <interval>7000</interval>
                <control_nav>true</control_nav>
                <direction_nav>true</direction_nav>
            </config>
        </slideshow>
    </default>
</config>